.barras {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#body {
    background: linear-gradient(95deg, pink 60%, white);
    position: relative;
    text-align: center;
}

;

.button {
    background-color: burlywood;
    color: black;
    padding: 5px black;
    border-radius: 2px black;
    border: 5px burlywood;
}